{% extends "generic_template.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<form action="{{ action }}" method="{{ http_method }}" enctype="multipart/form-data">
					<table class="fullwidth" style="width:100%">
					{% csrf_token %}
					{% for field in form %}
						<tr>
							<th>{{ field.label_tag }}</th>
							<td>
							{{ field }}

							{% for fielderror in field.errors %}
							<span class="label label-danger">{{ fielderror }}</span>
							{% endfor %}

							{% if field.help_text %}
								<span class="label label-info">
								{{ field.help_text|safe }}
								</span>
							{% endif %}
							</td>
						</tr>
					{% endfor %}
					<th></th><td>
						<button type="submit" class="btn btn-default">Submit</button>
					</td>
					</table>
				</form>
			</div>
		</div>
	</div>
  	<script src="/static/js/jquery.colorPicker.min.js"></script>
	<script>
	  jQuery(document).ready(function($) {
		$('#id_colorCode').colorPicker();
	  });
  	</script>
{% endblock %}
