<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>Legaltec</title>

    <meta name="description" content="sistema de organizacao de licencas">
    <meta name="author" content="cjaniake">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link href="/static/css/colorPicker.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav navbar-nav nav-pills">
					{% if request.user.is_superuser %}
					<li>
						<a href="/areas">Áreas</a>
					</li>
					{% endif %}

					<li {% if not request.session.areacode %} class="disabled" {% endif %}><a href="/area/{{ request.session.areacode }}/establishments">Estabelecimentos</a></li>

					<li {% if not request.session.areacode %} class="disabled" {% endif %}>
						<a href="/documents">Documentos</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurar<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/documenttypes">Tipos de Documento</a>
							</li>
							<li>
								<a href="/documentstatuss">Status de Documentos</a>
							</li>
							<li>
								<a href="#">Preferências</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav nav-pills navbar-right">
					<li>
						{% if request.user.is_superuser %}
						<a href="/chat/admin/">Mensagens {%if request.session.user_messages > 0 %}<span class="badge">{{ request.session.user_messages }}</span>{% endif %}</a>
						{% else %}
						<a href="/chat/user/">Mensagens {%if request.session.user_messages > 0 %}<span class="badge">{{ request.session.user_messages }}</span>{% endif %}</a>
						{% endif %}
					</li>
					<li class="dropdown">
						{% if not request.user.is_authenticated %}<a href="/accounts/login">Login</a>
						{% else %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Usuário</a>
							</li>
							<li>
								<a href="#">Segurança</a>
							</li>
							<li class="divider">
							<li>
								<a href="/accounts/logout/">Sair</a>
							</li>
						</ul>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			{% if notification_message %}
			<div class="alert alert-success alert-dismissable">

				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h4>
					Success!
				</h4>{{ notification_message }}
			</div>
			{% endif %}
			{% if error_message %}
			<div class="alert alert-danger alert-dismissable">

				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h4>
					Alert!
				</h4> <strong>Warning!</strong>{{ error_message }}
			</div>
			{% endif %}
		</div>


		{% block breadcrumb %}
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/areas"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
				{% if area %}
				<li><a href="/area/{{ area.id }}/establishments">{{ area.name }}</a></li>
				{% endif %}
				{% if area and establishment %}
				<li><a href="/documents/?establishment={{ establishment.id }}">{{ establishment.name }}</a></li>
				{% endif %}
			</ol>
		</div>
		{% endblock %}

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/scripts.js"></script>
		{% block content %}
		{% endblock %}
	</div>
  </body>
</html>
