{% extends "generic_template.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				{% for object in object_list %}
				<div class="col-md-4">
					<div class="thumbnail">
						{% if object.id %}
						<span class="bigicon glyphicon {{ object.glyphicon }}" aria-hidden="true"></span>
						{% else %}
						<span class="bigicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
						{% endif %}
						<div class="caption">
							<h3>
								{{ object.name }}
							</h3>
							<p>
								{{ object.content }}
							</p>
							<p>
								{% if object.id %}
									<a class="btn btn-primary" href="{{ object.link }}{{ object.id }}">Alterar</a>
								{% else %}
									<a class="btn btn-primary" href="{{ object.link }}">Incluir</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
