{% extends "generic_template.html" %}

	{% block breadcrumb %}
 	{{ block.super }}
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
	<div class="row pull-right">
		<div class="col-md-12">
			<ul class="nav nav-pills">
			  <li role="presentation" class="active"><a href="?p=small"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
			  <li role="presentation" class="active"><a href="?p=large"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a></li>
			  <li role="presentation" class="active"><a href="?p=list"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></li>
			</ul>
		</div>
	</div>
	{% endblock breadcrumb %}
