{% extends "area/area_list_template.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="row">
			<table class="table">
				<tr>
					<th></th>
					<th>Estabelecimento</th>
					<th></th>
				</tr>
				{% for object in object_list %}
				<tr>
					<td>
						<span style="color:{{ object.iconcolor }}" class="glyphicon {{ object.icon }}" aria-hidden="true"></span>
					</td>
					<td>
						{{ object.name }}
					</td>
					<td class="text-right">
						{% if object.id %}
						<a class="btn" href="{{ object.link }}{{ object.id }}">Alterar</a> <a class="btn btn-primary" href="{{ object.linkentrar }}">Entrar</a>
						{% else %}
						<a class="btn btn-primary" href="{{ object.link }}">Incluir</a>
						{% endif %}

					</td>
				</tr>
				{% endfor %}
			</table>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endblock %}