{% extends "area/area_list_template.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				{% for object in object_list %}
				<div class="col-md-4">
					<div class="thumbnail">
						<canvas id="chart_{{ object.id }}" width="240" height="240"></canvas>
						<script>
							var data = [
								{% for dataseries in object.dataseries %}
								{ value: {{ dataseries.value }}, color:"{{ dataseries.color }}",
								  label: "{{ dataseries.label }}", labelColor : 'black',
                    			  labelFontSize : '16' },
								{% endfor %}
							]
							// Get the context of the canvas element we want to select
							var ctx = $("#chart_{{ object.id }}").get(0).getContext("2d");
							var myDoughnutChart = new Chart(ctx).Doughnut(data,{ animateScale: true });
						</script>
						<div class="caption">
							<div style="position:absolute; right:15px;">
								<a href="/chat/{% if request.user.is_superuser %}admin{% else %}user{% endif %}/?estab={{ object.id }}">
								<span class="glyphicon glyphicon-comment btn-lg" aria-hidden="true" style="color:#EEE"></span>
								</a>
							</div>
							{% if object.messagecount > 0 %}
							<div style="position:absolute; right:20px">
								<span class="badge btn-xs">{{ object.messagecount }}</span>
							</div>
							<h3>
								{{ object.name }}
							</h3>
<!--
								{% for doc in object.content %}
								<p>
									<strong>{{ doc.documentType.name }}</strong><br />
									{{ doc.expirationDate }} - {{ doc.expirationDate|timeuntil}}
								</p>
								{% endfor %}
-->
							<p>
								{% if object.id %}
									<a class="btn btn-primary" href="{{ object.linkentrar }}">Entrar</a> <a class="btn" href="{{ object.link }}">Alterar</a>
								{% else %}
									<a class="btn btn-primary" href="{{ object.link }}">Incluir</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}