{% extends "generic_template.html" %}

{% block content %}
    <div class="panel-group" id="accordion">
    {% for chat in admin_chat %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ chat.user.id }}">
                        {{ chat.user.username }}
                        <span class="badge" id="msgcount{{ chat.user.id }}">{{ chat.unread }}</span>
                    </a>
                </h4>
            </div>
            <div id="collapse{{ chat.user.id }}" class="panel-collapse collapse">
                <div class="panel-body">

                    <form action="{{ action }}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-9">
                                {{ chat.form.user }}
                                {{ chat.form.text }}
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary btn-block text-center">
                                    <span class="glyphicon glyphicon-envelope" style="font-size:20px; margin-top:20px;" aria-hidden="true"></span>
                                    <p style="font-size:20px; margin-bottom:10px;"><strong>Enviar</strong></p>
                                </button>

                            </div>
                        </div>
                    </form>

                    {% for msg in chat.msg_list %}
                    <div class="row">
                        {% if msg.origin == 2 %}
                        <div class="col-md-9">
                            <div class="well well-lg">
                                {{ msg.text|linebreaksbr }}
                                <div class="text-right">
                                    <small>
                                        {{ msg.eventDate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        {% else %}
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="well well-lg" style="background: rgb(153, 204, 255);">
                                {{ msg.text|linebreaksbr }}
                                <div class="text-right">
                                    <small>
                                        {{ msg.eventDate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endfor %}
    </div>

    <script>
        $('#accordion').on('show.bs.collapse', function (e) {
            userid = e.target.id.substring(8)
            markAsReadUrl = window.location.href.substring(0,window.location.href.indexOf('/chat/admin/')) + '/chat/admin/markasread/' + userid
            $.ajax(markAsReadUrl)
            $('#msgcount' + userid).html('0')
        })
    </script>
<!--


    <form action="{{ action }}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9">
                {{ form.user.label_tag }}{{ form.user }}
                {{ form.establishment.label_tag }}{{ form.establishment }}
            </div>
        </div>
    </form>


    <script>

        function replaceUrlParam(url, paramName, paramValue){
            var pattern = new RegExp('\\b('+paramName+'=).*?(&|$)')
            if(url.search(pattern)>=0){
                return url.replace(pattern,'$1' + paramValue + '$2');
            }
            return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue
        }

        $('#id_user').change(function() {
            newloc = replaceUrlParam(window.location.href, 'user', this.value);
            window.location = newloc;
        });

        $('#id_establishment').change(function() {
            newloc = replaceUrlParam(window.location.href, 'estab', this.value);
            window.location = newloc;
        });

    </script>
-->
{% endblock %}
